@import "tailwindcss";

:root {
  --font-pixel: var(--font-press-start);
}

canvas {
  image-rendering: pixelated;
}

/* Hide scrollbar in panels */
.overflow-y-auto::-webkit-scrollbar {
  display: none;
}
.overflow-y-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
